"Package","Version Installed","Found by","Author"
{{- range .artifacts}}
"{{.name}}","{{.version}}","{{.foundBy}}","{{ if index .metadata "author" }}{{.metadata.author}}{{ else }}NO AUTHOR SUPPLIED{{end}}"
{{- end}}