# local development tailoring
go.work
go.work.sum
.tool-versions

# app configuration
/.syft.yaml

# tool and bin directories
.tmp/
bin/
/bin
/.bin
/build
/dist
/snapshot
/.tool
/.task

# changelog generation
CHANGELOG.md
VERSION

# IDE configuration
.vscode/
.idea/
.server/
.history/

# test related
*.fingerprint
/test/results
coverage.txt
*.log

# probable archives
.images
*.tar
*.jar
*.war
*.ear
*.jpi
*.hpi
*.zip
*.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS Finder metadata
.DS_STORE

*.profile

# attestation
cosign.key
cosign.pub

# Byte-compiled object files for python
__pycache__/
*.py[cod]
*$py.class
