name: 'Acceptance'
on:
  push:
    # ... only act on pushes to master
    branches:
      - master
    # ... do not act on release tags
    tags-ignore:
      - v*
env:
  GO_VERSION: "1.14.x"
jobs:
  Build-Snapshot-Artifacts:
    runs-on: ubuntu-latest
    steps:

      # TODO: remove me after release
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.ANCHORE_GIT_READ_TOKEN }}
        run: git config --global url."https://anchore:${TOKEN}@github.com".insteadOf "https://github.com"

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2

      - name: Restore bootstrap cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ${{ github.workspace }}/.tmp
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-
            ${{ runner.os }}-go-${{ env.GO_VERSION }}-

      - name: Bootstrap dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: make ci-bootstrap

      - name: Build snapshot artifacts
        run: make snapshot

      - uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: snapshot

  # Note: changing this job name requires making the same update in the .github/workflows/release.yaml pipeline
  Acceptance-Linux:
    needs: [ Build-Snapshot-Artifacts ]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: snapshot

      - name: Run Acceptance Tests (Linux)
        run: make acceptance-linux

  # Note: changing this job name requires making the same update in the .github/workflows/release.yaml pipeline
  Acceptance-Mac:
    needs: [ Build-Snapshot-Artifacts ]
    runs-on: macos-latest
    steps:

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: snapshot

      - name: Run Acceptance Tests (Mac)
        run: make acceptance-mac
