name: Dependabot Automation
on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  run:
    # Runner definition: workflows/.github/runs-on.yml
    uses: anchore/workflows/.github/workflows/dependabot-automation.yaml@main
