# Uses https://github.com/actions/add-to-project example to add issues to Anchore OSS project
name: Add issues to OSS project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/anchore/projects/22
          github-token: ${{ secrets.GITHUB_TOKEN }}
